@import "tailwindcss";

html {
	font-size: 14px;
}
body {
	line-height: 1.45;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  
}
